<script setup lang="ts">
//ts
defineProps<{
  msg?: string;
}>();
const emit = defineEmits<{
  (e: "change", id: number): void;
  (e: "update", value: string): void;
}>();
//js
// defineProps({
//  msg: string;
// })
// const emit = defineEmits(["response"]);
// emit("response", "hello from child");
////////////////
// defineProps(['modelValue'])
// defineEmits(['update:modelValue'])
// defineProps(['title'])
// defineEmits(['update:title'])
</script>

<template>
  <div class="greetings">
    <h1 class="green">{{ msg }}</h1>
    <h3>
      You’ve successfully created a project with
      <a href="https://vitejs.dev/" target="_blank" rel="noopener">Vite</a> +
      <a href="https://vuejs.org/" target="_blank" rel="noopener">Vue 3</a>.
      What's next?
    </h3>
    <button @click="$emit('response', 'hello from child')">click me</button>
  </div>
</template>

<style scoped>
.greetings h1,
.greetings h3 {
  text-align: center;
}
</style>
