<script setup>
import HelloWorld from "@/components/HelloWorld.vue";
</script>
<template>
  <div class="about">
    <HelloWorld msg="about" />
    <h1>This is an about page</h1>
  </div>
</template>

<style scoped>
.about h1 {
  text-align: center;
}
</style>
