<script setup>
import { reactive, ref, computed, onMounted, watch } from "vue";
import HelloWorld from "@/components/HelloWorld.vue";
/////////////////
defineProps({
  // Basic type check
  //  (`null` and `undefined` values will allow any type)
  propA: Number,
  // Multiple possible types
  propB: [String, Number],
  // Required string
  propC: {
    type: String,
    // required: true,
  },
  // Number with a default value
  propD: {
    type: Number,
    default: 100,
  },
  // Object with a default value
  propE: {
    type: Object,
    // Object or array defaults must be returned from
    // a factory function. The function receives the raw
    // props received by the component as the argument.
    default(rawProps) {
      return { message: "hello" };
    },
  },
  // Custom validator function
  propF: {
    validator(value) {
      // The value must match one of these strings
      return ["success", "warning", "danger"].includes(value);
    },
  },
  // Function with a default value
  propG: {
    type: Function,
    // Unlike object or array default, this is not a factory function - this is a function to serve as a default value
    default() {
      return "Default function";
    },
  },
});

const emit = defineEmits(["response"]);
emit("response", "hello from child");
//////////
const counter = reactive({ count: 10 });
const counterRef = ref(10);
const message = ref("Hello World!");
const increment = () => {
  counter.count++;
  counterRef.value++;
};
////////////
const text = ref("");
////////////
let id = 0;
const newTodo = ref("");
const hideCompleted = ref(false);
const todos = ref([
  { id: id++, text: "Learn HTML", done: true },
  { id: id++, text: "Learn JavaScript", done: true },
  { id: id++, text: "Learn Vue", done: false },
]);

const filteredTodos = computed(() => {
  return hideCompleted.value ? todos.value.filter((t) => !t.done) : todos.value;
});

function addTodo() {
  todos.value.push({ id: id++, text: newTodo.value, done: false });
  newTodo.value = "";
}

function removeTodo(todo) {
  todos.value = todos.value.filter((t) => t !== todo);
}
//////////////////
const p = ref(null);

onMounted(() => {
  p.value.textContent = "mounted!";
});
//////////////////
const todoId = ref(1);
const todoData = ref(null);

async function fetchData(newValue) {
  console.log(newValue);
  todoData.value = null;
  const res = await fetch(
    `https://jsonplaceholder.typicode.com/todos/${todoId.value}`
  );
  todoData.value = await res.json();
}

fetchData();
watch(todoData, (newId) => {
  console.log(1231123);
});
watch(todoId, fetchData);
//////////////////////////
const isRed = ref(true);
const toggleClass = () => {
  isRed.value = !isRed.value;
};
///////////////////////
const modelLasy = ref("");
////////////////////////////
const currentTab = ref("HelloWorld");

const tabs = {
  HelloWorld,
  HelloWorld,
  HelloWorld,
};
/////////////////////////////
import { useMouse } from "@/hooks/useMouse";
const { x, y } = useMouse();
// const mouse = reactive(useMouse());
//если мауз возврашает реактивы
// // mouse.x is linked to original ref
// console.log(mouse.x);

import { useAxios } from "@/hooks/useAxios";
const { data, error } = useAxios(`todos/${todoId.value}`);
// console.log(data, error, "Axios");
// console.log(currentTab);
/////////////////////////////////
const refObject = ref({
  name: "mama",
  age: 12,
});
refObject.value.name = refObject.value.name.split("").reverse().join("");
refObject.value.age++;
// refObject.value = { aaaaa: 1 };
console.log("mama", refObject);
</script>

<template>
  <div class="example">
    <h1>{{ message }}</h1>
    <p>Count is: {{ counterRef }}</p>
    <v-btn @click="increment">count is: {{ counter.count }}</v-btn>
    <v-btn @click.prevent="counter.count++"
      >count is: {{ counter.count }}</v-btn
    >
  </div>
  <hr />
  <div class="example">
    <input v-model="text" placeholder="Type here" />
  </div>
  <hr />
  <div class="example">
    <form @submit.prevent="addTodo">
      <input v-model="newTodo" />
      <button>Add Todo</button>
    </form>
    <ul>
      <li v-for="todo in filteredTodos" :key="todo.id">
        <input type="checkbox" v-model="todo.done" />
        <span :class="{ done: todo.done }">{{ todo.text }}</span>
        <v-btn @click="removeTodo(todo)">X</v-btn>
      </li>
    </ul>
    <v-btn @click="hideCompleted = !hideCompleted">
      {{ hideCompleted ? "Show all" : "Hide completed" }}
    </v-btn>
  </div>
  <hr />
  <div class="example">
    <p ref="p">hello</p>
  </div>
  <hr />
  <div class="example">
    <p>Todo id: {{ todoId }}</p>
    <v-btn @click="todoId++">Fetch next todo</v-btn>
    <p v-if="!todoData">Loading...</p>
    <pre v-else>{{ todoData }}</pre>
  </div>
  <hr />
  <div class="example">
    <HelloWorld :msg="$t('message.hello')" />
  </div>
  <hr />
  <div>
    <p :class="{ red: isRed }" @click="toggleClass">
      This should be red... but click me to toggle it.
    </p>
  </div>
  <hr />
  <div>
    <input type="text" v-model.lazy="modelLasy" />
  </div>
  <hr />
  <div>
    <KeepAlive>
      <component :is="tabs[currentTab]" class="tab" :msg="`123123`"></component>
    </KeepAlive>
    <HelloWorld v-model="message" />
    <HelloWorld v-model:title="message" />
  </div>
  <hr />
  <div>Mouse position is at: {{ x }}, {{ y }}</div>
</template>

<style scoped>
.done {
  text-decoration: line-through;
}
.example {
  margin: 50px;
}
.red {
  color: red;
}
</style>
