<script setup>
import HelloWorld from "@/components/HelloWorld.vue";
import { computed } from "vue";
import { useI18n } from "vue-i18n";

const { t, locale } = useI18n({ useScope: "global" });
const msg = computed(() => t("message.hello"));
const switchLang = () => {
  locale.value === "en" ? (locale.value = "ru") : (locale.value = "en");
  localStorage.setItem("lang", locale.value);
};
</script>

<template>
  <v-row>
    <v-col>
      <HelloWorld :msg="$t('message.hello')" @click="switchLang" />
    </v-col>
  </v-row>
  <v-spacer />
  <v-row>
    <v-col v-for="n in 12" cols="4" sm="3" md="2" lg="1">
      <v-card class="ma-4">
        {{ n }} hello
        <v-img
          lazy-src="https://picsum.photos/id/11/10/6"
          max-height="150"
          max-width="250"
          src="https://picsum.photos/id/11/500/300"
        >
          <template v-slot:placeholder>
            <v-row class="fill-height ma-0" align="center" justify="center">
              <v-progress-circular
                indeterminate
                color="grey lighten-5"
              ></v-progress-circular>
            </v-row>
          </template>
        </v-img>
      </v-card>
    </v-col>
  </v-row>
  <v-spacer />
  <v-row>
    <v-col v-for="n in 12" cols="4">
      <v-card>{{ n }} azaza</v-card>
    </v-col>
  </v-row>
</template>

<style scoped></style>
