@import "mixins";

@font-face {
  font-family: 'Nunito Bold';
  src: url('../fonts/nunito/NunitoSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Nunito Semi Bold';
  src: url('../fonts/nunito/NunitoSans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Nunito Regular';
  src: url('../fonts/nunito/NunitoSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Nunito Light';
  src: url('../fonts/nunito/NunitoSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
}


h1 {
  font-family: 'Nunito Bold', sans-serif;
  font-size: 32px;
  line-height: 44.8px;
  &.medium {
    font-family: 'Nunito Semi Bold', sans-serif
  }

  &.regular {
    font-family: 'Nunito Regular', sans-serif
  }

  &.light {
    font-family: 'Nunito Light', sans-serif
  }
}

h2 {
  font-family: 'Nunito Bold', sans-serif;
  font-size: 28px;
  line-height: 39.2px;
  &.medium {
    font-family: 'Nunito Semi Bold', sans-serif;
  }
  &.regular {
    font-family: 'Nunito Regular', sans-serif;
  }
  &.light {
    font-family: 'Nunito Light', sans-serif;
  }
}
h3 {
  font-family: 'Nunito Bold', sans-serif;
  font-size: 24px;
  line-height: 33.6px;
  &.medium {
    font-family: 'Nunito Semi Bold', sans-serif;
  }
  &.regular {
    font-family: 'Nunito Regular', sans-serif;
  }
  &.light {
    font-family: 'Nunito Light', sans-serif;
  }
}

h4 {
  font-family: 'Nunito Bold', sans-serif;
  font-size: 20px;
  line-height: 24px;
  &.medium {
    font-family: 'Nunito Semi Bold', sans-serif;
  }
  &.regular {
    font-family: 'Nunito Regular', sans-serif;
  }
  &.light {
    font-family: 'Nunito Light', sans-serif;
  }
}

.text {
  @include setFontSize(18px, 21.6px, 'Regular');
  &.medium {
    font-family: 'Nunito Semi Bold', sans-serif;
  }
  &.bold {
    font-family: 'Nunito Bold', sans-serif;
  }
  &.light {
    font-family: 'Nunito Light', sans-serif;
  }
  &-t2 {
    @include setFontSize(16px, 19.2px, 'Regular');
    &.medium {
      font-family: 'Nunito Semi Bold', sans-serif;
    }
    &.bold {
      font-family: 'Nunito Bold', sans-serif;
    }
    &.light {
      font-family: 'Nunito Light', sans-serif;
    }
  }
  &-t3 {
    @include setFontSize(14px, 16.1px, 'Regular');
    &.medium {
      font-family: 'Nunito Semi Bold', sans-serif;
    }
    &.bold {
      font-family: 'Nunito Bold', sans-serif;
    }
    &.light {
      font-family: 'Nunito Light', sans-serif;
    }
  }
  &-t4 {
    @include setFontSize(12px, 12px, 'Regular');
    &.medium {
      font-family: 'Nunito Semi Bold', sans-serif;
    }
    &.bold {
      font-family: 'Nunito Bold', sans-serif;
    }
    &.light {
      font-family: 'Nunito Light', sans-serif;
    }
  }
  &-t5 {
    @include setFontSize(11px, 11px, 'Regular');
    &.medium {
      font-family: 'Nunito Semi Bold', sans-serif;
    }
    &.bold {
      font-family: 'Nunito Bold', sans-serif;
    }
    &.light {
      font-family: 'Nunito Light', sans-serif;
    }
  }
  &-caption1 {
    @include setFontSize(10px, 10px, 'Regular');
    &.medium {
      font-family: 'Nunito Semi Bold', sans-serif;
    }
    &.bold {
      font-family: 'Nunito Bold', sans-serif;
    }
    &.light {
      font-family: 'Nunito Light', sans-serif;
    }
  }
  &-caption2 {
    @include setFontSize(8px, 8px, 'Regular');
    &.medium {
      font-family: 'Nunito Semi Bold', sans-serif;
    }
    &.bold {
      font-family: 'Nunito Bold', sans-serif;
    }
    &.light {
      font-family: 'Nunito Light', sans-serif;
    }
  }
}